# Go
/bin/
/obj/
/vendor/
/notes.db

# Node / frontend
node_modules/
dist/
.env

# System
.DS_Store

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binaries
*.test

# Code coverage profiles
*.out
coverage.*
.coverprofile
profile.cov

# Go workspace files
go.work
go.work.sum
